*{
    background-color:firebrick;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.intro-section {
    text-align: center;
}

#para-section {
    display:flex;
    flex-wrap: wrap;
}


.hide {
    display: none;
}

.answers {
    display: block;
    text-align: center;
}

button {
	font-family: sans-serif;
	font-size: 15px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 15px;
	cursor: pointer;
	margin-bottom: 15px;
}

button:hover{
	background-color: rgb(13, 49, 63);
}

h1 {
    font-size: 50px;
}

#para-section {
    font-size: larger;
}

#question-title {
    font-size: xx-large;
    font-weight: lighter;
}

.add-initials, .show-high-score {
    font-size: large;
}





